<div class="nav">
<ul>
  <li><a href="#planks">PLANKS</a></li>
  <li><a href="#crunches">CRUNCHES</a></li>
  <li><a href="#pushups">PUSH-UPS</a></li>
  <li><a href="#squats">SQUATS</a></li>
  <li><a href="#others">OTHERS</a></li>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">CHALLENGE</a>
    <div class="dropdown-content">
      <a href="#chest">Chest</a>
      <a href="#arm">Arm</a>
      <a href="#ab">Ab</a>
      <a href="#squat">Squat</a>
      <a href="#thigh">Thigh</a>
      <a href="#back">Back</a>
    </div>
  </li>
</ul>
</div>

    <center><h1>Hello, welcome to <span><i>Workout Routine</i></span>!</h1></center>
<center><%= link_to 'My Record', controller: 'records' %></center>


<div id="planks">
<h2>Types of Planks</h2>
<table class="mTable">
<tr>
    <th>PLANK</th>
    <th>SIDE-PLANK</th>
    <th>REVERSE PLANK</th>
  </tr>
<tr>
<td><%= image_tag "plank.jpg" %></td>
<td><%= image_tag "sideplank.png" %></td>
<td><%= image_tag "reverseplank.jpg" %></td>
</tr>
</table>
</div>

<br>

<div id="crunches">
<table>
<h2 >Types of Crunches</h2>
<table class="mTable">
<tr>
     <th>CRUNCH</th>
    <th>REVERSE CRUNCH</th> 
     <th>BICYCLE CRUNCH</th>
  </tr>
<tr>
<td><%= image_tag "crunch.jpg" %></td>
<td><%= image_tag "reverse crunch.jpg" %></td>
<td><%= image_tag "bicyclecrunch.jpg" %></td>
</tr>
</table>
</div>

<br>

<div id="pushups">
<table>
<h2 >Types of Push-ups</h2>
<table class="mTable">
<tr>
     <th>PUSH-UPS</th>
    <th>SPIDERMAN PUSH-UPS</th> 
     <th>JUDO PUSH-UPS</th>
  </tr>
<tr>
<td><%= image_tag "pushups.jpg" %></td>
<td><%= image_tag "spidermanpushups.jpg" %></td>
<td><%= image_tag "judo.jpg" %></td>
</tr>
</table>
</div>

<br>

<div id="squats">
<h2>Types of Squats</h2>
<table class="mTable">
<tr>
    <th>BODY-WEIGHT SQUAT</th>
    <th>BODY-WEIGHT JUMP SQUAT</th> 
    <th>PISTOL SQUAT</th>
    <th>WIDE-STANCE BARBELL SQUAT</th>
  </tr>
<tr>
<td><%= image_tag "squat1.jpg" %></td>
<td><%= image_tag "squat2.jpg" %></td>
<td><%= image_tag "squat3.jpg" %></td>
<td><%= image_tag "squat4.jpg" %></td>
</tr>
<tr>
<th>BARBELL SIFF SQUAT</th>
    <th>BRACED SQUAT</th> 
    <th>DUMBBELL SPLIT SQUAT</th>
    <th>GOBLET SQUAT</th>
</tr>
<tr>
<td><%= image_tag "squat5.jpg" %></td>
<td><%= image_tag "squat6.jpg" %></td>
<td><%= image_tag "squat7.jpg" %></td>
<td><%= image_tag "squat8.jpg" %></td>
</tr>
</table>
</div>

<br>

<div id="others">
<table>
<h2>Others</h2>
<table class="mTable">
<tr>
     <th>UPRIGHT ROW</th>
     <th>LATERAL RAISE</th>
     <th>SHOULDER PRESS</th>
     <th>PRESS</th>
     <th>SUPERMAN</th>
  </tr>
<tr>
<td><%= image_tag "uprightrow.jpg" %></td>
<td><%= image_tag "lateralrasie.jpg" %></td>
<td><%= image_tag "shoulderpress.jpg" %></td>
<td><%= image_tag "press.jpg" %></td>
<td><%= image_tag "superman.jpg" %></td>
</tr>
<tr>
     <th>DUMBBELL FLYES</th>
     <th>BICEP CURLS</th>
     <th>DUMBBELL PUNCHES</th>
     <th>REVERSE FLY</th>
     <th>BRIDGE PULLOVER</th>
  </tr>
<tr>
<td><%= image_tag "dumbbellflyes.jpg" %></td>
<td><%= image_tag "bicepcurls.jpg" %></td>
<td><%= image_tag "dumbbellpunch.jpg" %></td>
<td><%= image_tag "reversefly.jpg" %></td>
<td><%= image_tag "bridgepullover.jpg" %></td>
</tr>
<tr>
     <th>LEG RAISE</th>
     <th>DEAD BUG</th>
     <th>MOUNTAIN CLIMBER</th>
     <th>SPIDERMAN</th>
     <th>SIT-UP</th>
  </tr>
<tr>
<td><%= image_tag "legraise.jpg" %></td>
<td><%= image_tag "deadbug.jpg" %></td>
<td><%= image_tag "mountainclimber.jpg" %></td>
<td><%= image_tag "spiderman.jpg" %></td>
<td><%= image_tag "situp.jpg" %></td>
</tr>
<tr>
     <th>RENEGADE ROWS</th>
     <th>LATERAL LUNGES</th>
     <th>SCISSORS</th>
     <th>FIRE HYDRANTS</th>
     <th>RUSSIAN TWIST</th>
  </tr>
<tr>
<td><%= image_tag "renegaderow.jpg" %></td>
<td><%= image_tag "laterallunge.jpg" %></td>
<td><%= image_tag "scissor.jpg" %></td>
<td><%= image_tag "firehydrant.jpg" %></td>
<td><%= image_tag "russiantwist.jpg" %></td>
</tr>
</table>

<hr>

<div id="chest">

<h2><b>30-day CHEST Challenge</b></h2>
<table class="tg">
<tr>
    <td class="tg-c0hr">DAY 1</td>
    <td class="tg-ln3k"><ul><li>10 Presses</li><li>2 Judos</li><li>5 Flyes</li><li>2 Spiderman Push-ups</li></ul></td>
    <td class="tg-c0hr">DAY 11</td>
    <td class="tg-ln3k"><ul><li>35 Presses</li><li>18 Judos</li><li>32 Flyes</li><li>12 Spiderman Push-ups</li></ul></td>
    <td class="tg-c0hr">DAY 21</td>
    <td class="tg-ln3k"><ul><li>75 Presses</li><li>28 Judos</li><li>60 Flyes</li><li>25 Spiderman Push-ups</li></ul></td>
  </tr>
  <tr>
	<td class="tg-c0hr">DAY 2</td>
    <td class="tg-ln3k"><ul><li>12 Presses</li><li>4 Judos</li><li>8 Flyes</li><li>3 Spiderman Push-ups</li></ul></td>
    <td class="tg-keh7">DAY 12</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 22</td>
    <td class="tg-ln3k"><ul><li>80 Presses</li><li>30 Judos</li><li>65 Flyes</li><li>25 Spiderman Push-ups</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 3</td>
    <td class="tg-ln3k"><ul><li>15 Presses</li><li>5 Judos</li><li>12 Flyes</li><li>4 Spiderman Push-ups</li></ul></td>
    <td class="tg-c0hr">DAY 13</td>
    <td class="tg-ln3k"><ul><li>40 Presses</li><li>20 Judos</li><li>35 Flyes</li><li>15 Spiderman Push-ups</li></ul></td>
    <td class="tg-c0hr">DAY 23</td>
    <td class="tg-ln3k"><ul><li>85 Presses</li><li>32 Judos</li><li>70 Flyes</li><li>25 Spiderman Push-ups</li></ul></td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 4</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 14</td>
    <td class="tg-ln3k"><ul><li>45 Presses</li><li>20 Judos</li><li>40 Flyes</li><li>15 Spiderman Push-ups</li></ul></td>
    <td class="tg-keh7">DAY 24</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 5</td>
    <td class="tg-ln3k"><ul><li>20 Presses</li><li>8 Judos</li><li>15 Flyes</li><li>5 Spiderman Pushesups</li></ul></td>
    <td class="tg-c0hr">DAY 15</td>
    <td class="tg-ln3k"><ul><li>50 Presses</li><li>20 Judos</li><li>45 Flyes</li><li>15 Spiderman Push-ups</li></ul></td>
    <td class="tg-c0hr">DAY 25</td>
    <td class="tg-ln3k"><ul><li>90 Presses</li><li>35 Judos</li><li>75 Flyes</li><li>30 Spiderman Push-ups</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 6</td>
    <td class="tg-ln3k"><ul><li>25 Presses</li><li>10 Judos</li><li>20 Flyes</li><li>7 Spiderman Pushesups</li></ul></td>
    <td class="tg-keh7">DAY 16</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 26</td>
    <td class="tg-ln3k"><ul><li>95 Presses</li><li>35 Judos</li><li>80 Flyes</li><li>30 Spiderman Push-ups</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 7</td>
    <td class="tg-ln3k"><ul><li>30 Presses</li><li>12 Judos</li><li>25 Flyes</li><li>8 Spiderman Push-ups</li></ul></td>
    <td class="tg-c0hr">DAY 17</td>
    <td class="tg-ln3k"><ul><li>60 Presses</li><li>25 Judos</li><li>50 Flyes</li><li>20 Spiderman Push-ups</li></ul></td>
    <td class="tg-c0hr">DAY 27</td>
    <td class="tg-ln3k"><ul><li>100 Presses</li><li>35 Judos</li><li>85 Flyes</li><li>30 Spiderman Push-ups</li></ul></td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 8</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 18</td>
    <td class="tg-ln3k"><ul><li>65 Presses</li><li>25 Judos</li><li>50 Flyes</li><li>20 Spiderman Push-ups</li></ul></td>
    <td class="tg-keh7">DAY 28</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 9</td>
    <td class="tg-ln3k"><ul><li>32 Presses</li><li>15 Judos</li><li>28 Flyes</li><li>10 Spiderman Push-ups</li></ul></td>
    <td class="tg-c0hr">DAY 19</td>
    <td class="tg-ln3k"><ul><li>70 Presses</li><li>25 Judos</li><li>55 Flyes</li><li>20 Spiderman Push-ups</li></ul></td>
    <td class="tg-c0hr">DAY 29</td>
    <td class="tg-ln3k"><ul><li>120 Presses</li><li>40 Judos</li><li>90 Flyes</li><li>35 Spiderman Push-ups</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 10</td>
    <td class="tg-ln3k"><ul><li>34 Presses</li><li>16 Judos</li><li>30 Flyes</li><li>11 Spiderman Push-ups</li></ul></td>
    <td class="tg-keh7">DAY 20</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 30</td>
    <td class="tg-ln3k"><ul><li>125 Presses</li><li>50 Judos</li><li>100 Flyes</li><li>40 Spiderman Push-ups</li></ul></td>
  </tr>
</table>
</div>

<br>

<div id="arm">
<h2><b>30-day ARM Challenge</b></h2>
<table class="tg">
<tr>
    <td class="tg-c0hr">DAY 1</td>
    <td class="tg-ln3k"><ul><li>5 Push-ups</li><li>10 Bicep curls</li><li>10s Punches</li></ul></td>
    <td class="tg-c0hr">DAY 11</td>
    <td class="tg-ln3k"><ul><li>25 Push-ups</li><li>65 Bicep curls</li><li>50s Punches</li></ul></td>
    <td class="tg-c0hr">DAY 21</td>
    <td class="tg-ln3k"><ul><li>40 Push-ups</li><li>110 Bicep curls</li><li>90s Punches</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 2</td>
    <td class="tg-ln3k"><ul><li>8 Push-ups</li><li>15 Bicep curls</li><li>15s Punches</li></ul></td>
    <td class="tg-keh7">DAY 12</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 22</td>
    <td class="tg-ln3k"><ul><li>42 Push-ups</li><li>115 Bicep curls</li><li>95s Punches</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 3</td>
    <td class="tg-ln3k"><ul><li>10 Push-ups</li><li>20 Bicep curls</li><li>20s Punches</li></ul></td>
    <td class="tg-c0hr">DAY 13</td>
    <td class="tg-ln3k"><ul><li>28 Push-ups</li><li>75 Bicep curls</li><li>60s Punches</li></ul></td>
    <td class="tg-c0hr">DAY 23</td>
    <td class="tg-ln3k"><ul><li>44 Push-ups</li><li>120 Bicep curls</li><li>100s Punches</li></ul></td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 4</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 14</td>
    <td class="tg-ln3k"><ul><li>29 Push-ups</li><li>80 Bicep curls</li><li>65s Punches</li></ul></td>
    <td class="tg-keh7">DAY 24</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
  <td class="tg-c0hr">DAY 5</td>
    <td class="tg-ln3k"><ul><li>12 Push-ups</li><li>30 Bicep curls</li><li>25s Punches</li></ul></td>
    <td class="tg-c0hr">DAY 15</td>
    <td class="tg-ln3k"><ul><li>30 Push-ups</li><li>85 Bicep curls</li><li>70s Punches</li></ul></td>
    <td class="tg-c0hr">DAY 25</td>
    <td class="tg-ln3k"><ul><li>45 Push-ups</li><li>125 Bicep curls</li><li>105s Punches</li></ul></td>
   </tr>
    <tr>
    <td class="tg-c0hr">DAY 6</td>
    <td class="tg-ln3k"><ul><li>15 Push-ups</li><li>50 Bicep curls</li><li>30s Punches</li></ul></td>
    <td class="tg-keh7">DAY 16</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 26</td>
    <td class="tg-ln3k"><ul><li>46 Push-ups</li><li>130 Bicep curls</li><li>110s Punches</li></ul></td>
   </tr>
    <tr>
    <td class="tg-c0hr">DAY 7</td>
    <td class="tg-ln3k"><ul><li>18 Push-ups</li><li>50 Bicep curls</li><li>35s Punches</li></ul></td>
    <td class="tg-c0hr">DAY 17</td>
    <td class="tg-ln3k"><ul><li>35 Push-ups</li><li>90 Bicep curls</li><li>75s Punches</li></ul></td>
    <td class="tg-c0hr">DAY 27</td>
    <td class="tg-ln3k"><ul><li>47 Push-ups</li><li>135 Bicep curls</li><li>115s Punches</li></ul></td>
   </tr>
   <tr>
    <td class="tg-keh7">DAY 8</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 18</td>
    <td class="tg-ln3k"><ul><li>36 Push-ups</li><li>100 Bicep curls</li><li>80s Punches</li></ul></td>
    <td class="tg-keh7">DAY 28</td>
    <td class="tg-keh7">REST DAY</td>
   </tr>
   <tr>
    <td class="tg-c0hr">DAY 9</td>
    <td class="tg-ln3k"><ul><li>20 Push-ups</li><li>55 Bicep curls</li><li>40s Punches</li></ul></td>
    <td class="tg-c0hr">DAY 19</td>
    <td class="tg-ln3k"><ul><li>38 Push-ups</li><li>105 Bicep curls</li><li>85s Punches</li></ul></td>
    <td class="tg-c0hr">DAY 29</td>
    <td class="tg-ln3k"><ul><li>48 Push-ups</li><li>140 Bicep curls</li><li>120s Punches</li></ul></td>
   </tr>
   <tr>
    <td class="tg-c0hr">DAY 10</td>
    <td class="tg-ln3k"><ul><li>22 Push-ups</li><li>60Bicep curls</li><li>45s Punches</li></ul></td>
    <td class="tg-keh7">DAY 20</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 30</td>
    <td class="tg-ln3k"><ul><li>50 Push-ups</li><li>150 Bicep curls</li><li>150s Punches</li></ul></td>
   </tr>
  </table>
</div>

<br>

<div id="ab">
<h2><b>30-day AB Challenge</b></h2>
<table class="tg">
<tr>
    <td class="tg-c0hr">DAY 1</td>
    <td class="tg-ln3k"><ul><li>20 Situps</li><li>8 Crunches</li><li>8 Leg raises</li><li>12s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 11</td>
    <td class="tg-ln3k"><ul><li>55 Situps</li><li>65 Crunches</li><li>33 Leg raises</li><li>42s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 21</td>
    <td class="tg-ln3k"><ul><li>90 Situps</li><li>130 Crunches</li><li>52 Leg raises</li><li>75s Plank</li></ul></td>
  </tr>
  <tr>
	<td class="tg-c0hr">DAY 2</td>
    <td class="tg-ln3k"><ul><li>20 Situps</li><li>8 Crunches</li><li>8 Leg raises</li><li>12s Plank</li></ul></td>
    <td class="tg-keh7">DAY 12</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 22</td>
    <td class="tg-ln3k"><ul><li>90 Situps</li><li>130 Crunches</li><li>52 Leg raises</li><li>75s Plank</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 3</td>
    <td class="tg-ln3k"><ul><li>25 Situps</li><li>10 Crunches</li><li>10 Leg raises</li><li>15s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 13</td>
    <td class="tg-ln3k"><ul><li>60 Situps</li><li>75 Crunches</li><li>40 Leg raises</li><li>50s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 24</td>
    <td class="tg-ln3k"><ul><li>100 Situps</li><li>150 Crunches</li><li>58 Leg raises</li><li>90s Plank</li></ul></td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 4</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 14</td>
    <td class="tg-ln3k"><ul><li>65 Situps</li><li>85 Crunches</li><li>42 Leg raises</li><li>55s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 23</td>
    <td class="tg-ln3k"><ul><li>100 Situps</li><li>150 Crunches</li><li>58 Leg raises</li><li>90s Plank</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 5</td>
    <td class="tg-ln3k"><ul><li>30 Situps</li><li>12 Crunches</li><li>12 Leg raises</li><li>20s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 15</td>
    <td class="tg-ln3k"><ul><li>70 Situps</li><li>90 Crunches</li><li>46 Leg raises</li><li>55s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 25</td>
    <td class="tg-ln3k"><ul><li>105 Situps</li><li>160 Crunches</li><li>60 Leg raises</li><li>95s Plank</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 6</td>
    <td class="tg-ln3k"><ul><li>35 Situps</li><li>15 Crunches</li><li>15 Leg raises</li><li>25s Plank</li></ul></td>
    <td class="tg-keh7">DAY 16</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 26</td>
    <td class="tg-ln3k"><ul><li>110 Situps</li><li>170 Crunches</li><li>60 Leg raises</li><li>100s Plank</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 7</td>
    <td class="tg-ln3k"><ul><li>40 Situps</li><li>20 Crunches</li><li>20 Leg raises</li><li>30s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 17</td>
    <td class="tg-ln3k"><ul><li>70 Situps</li><li>100 Crunches</li><li>34 Leg raises</li><li>60s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 27</td>
    <td class="tg-ln3k"><ul><li>115 Situps</li><li>180 Crunches</li><li>62 Leg raises</li><li>110s Plank</li></ul></td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 8</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 18</td>
    <td class="tg-ln3k"><ul><li>75 Situps</li><li>110 Crunches</li><li>42 Leg raises</li><li>65s Plank</li></ul></td>
    <td class="tg-keh7">DAY 28</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 9</td>
    <td class="tg-ln3k"><ul><li>45 Situps</li><li>30 Crunches</li><li>30 Leg raises</li><li>35s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 19</td>
    <td class="tg-ln3k"><ul><li>85 Situps</li><li>120 Crunches</li><li>45Leg raises</li><li>70s Plank</li></ul></td>
    <td class="tg-c0hr">DAY 29</td>
    <td class="tg-ln3k"><ul><li>120 Situps</li><li>190 Crunches</li><li>62 Leg raises</li><li>115s Plank</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 10</td>
    <td class="tg-ln3k"><ul><li>50 Situps</li><li>50 Crunches</li><li>30 Leg raises</li><li>38s Plank</li></ul></td>
    <td class="tg-keh7">DAY 20</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 30</td>
    <td class="tg-ln3k"><ul><li>125 Situps</li><li>200 Crunches</li><li>65 Leg raises</li><li>120s Plank</li></ul></td>
  </tr>
</table>
</div>

<br>

<div id="squat">
<h2><b>30-day SQUAT Challenge</b></h2>
<table class="tg">
<tr>
    <td class="tg-c0hr">DAY 1</td>
    <td class="tg-ln3k">50 SQUATS</td>
    <td class="tg-keh7">DAY 16</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 2</td>
    <td class="tg-ln3k">55 SQUATS</td>
    <td class="tg-c0hr">DAY 17</td>
    <td class="tg-ln3k">150 SQUATS</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 3</td>
    <td class="tg-ln3k">60 SQUATS</td>
    <td class="tg-c0hr">DAY 18</td>
    <td class="tg-ln3k">155 SQUATS</td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 4</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 19</td>
    <td class="tg-ln3k">160 SQUATS</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 5</td>
    <td class="tg-ln3k">70 SQUATS</td>
    <td class="tg-keh7">DAY 20</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 6</td>
    <td class="tg-ln3k">75 SQUATS</td>
    <td class="tg-c0hr">DAY 21</td>
    <td class="tg-ln3k">180 SQUATS</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 7</td>
    <td class="tg-ln3k">80 SQUATS</td>
    <td class="tg-c0hr">DAY 22</td>
    <td class="tg-ln3k">185 SQUATS</td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 8</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 23</td>
    <td class="tg-ln3k">190 SQUATS</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 9</td>
    <td class="tg-ln3k">100 SQUATS</td>
    <td class="tg-keh7">DAY 24</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 10</td>
    <td class="tg-ln3k">105 SQUATS</td>
    <td class="tg-c0hr">DAY25</td>
    <td class="tg-ln3k">220 SQUATS</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 11</td>
    <td class="tg-ln3k">110 SQUATS</td>
    <td class="tg-c0hr">DAY 26</td>
    <td class="tg-ln3k">225 SQUATS</td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 12</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 27</td>
    <td class="tg-ln3k">230 SQUATS</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 13</td>
    <td class="tg-ln3k">130 SQUATS</td>
    <td class="tg-u130">DAY 28</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 14</td>
    <td class="tg-ln3k">135 SQUATS</td>
    <td class="tg-c0hr">DAY 29</td>
    <td class="tg-ln3k">240 SQUATS</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 15</td>
    <td class="tg-ln3k">140 SQUATS</td>
    <td class="tg-c0hr">DAY 30</td>
    <td class="tg-ln3k">250 SQUATS</td>
  </tr>
</table>
</div>

<br>

<div id="thigh">
<h2><b>30-day THIGH Challenge</b></h2>
<table class="tg">
<tr>
    <td class="tg-c0hr">DAY 1</td>
    <td class="tg-ln3k"><ul><li>5 Lateral lunges</li><li>10 scissors</li><li>5 Fire hydrants</li></ul></td>
    <td class="tg-c0hr">DAY 11</td>
    <td class="tg-ln3k"><ul><li>40 Lateral lunges</li><li>65 scissors</li><li>25 Fire hydrants</li></ul></td>
    <td class="tg-c0hr">DAY 21</td>
    <td class="tg-ln3k"><ul><li>75 Lateral lunges</li><li>110 scissors</li><li>42 Fire hydrants</li></ul></td>
  </tr>
  <tr>
	<td class="tg-c0hr">DAY 2</td>
    <td class="tg-ln3k"><ul><li>8 Lateral lunges</li><li>15 scissors</li><li>8 Fire hydrants</li></ul></td>
    <td class="tg-keh7">DAY 12</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 22</td>
    <td class="tg-ln3k"><ul><li>80 Lateral lunges</li><li>115 scissors</li><li>45 Fire hydrants</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 3</td>
    <td class="tg-ln3k"><ul><li>10 Lateral lunges</li><li>20 scissors</li><li>10 Fire hydrants</li></ul></td>
    <td class="tg-c0hr">DAY 13</td>
    <td class="tg-ln3k"><ul><li>45 Lateral lunges</li><li>75 scissors</li><li>28 Fire hydrants</li></ul></td>
    <td class="tg-c0hr">DAY 23</td>
    <td class="tg-ln3k"><ul><li>85 Lateral lunges</li><li>120 scissors</li><li>48 Fire hydrants</li></ul></td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 4</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 14</td>
    <td class="tg-ln3k"><ul><li>50 Lateral lunges</li><li>80 scissors</li><li>30 Fire hydrants</li></ul></td>
    <td class="tg-keh7">DAY 24</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 5</td>
    <td class="tg-ln3k"><ul><li>15 Lateral lunges</li><li>30 scissors</li><li>12 Fire hydrants</li></ul></td>
    <td class="tg-c0hr">DAY 15</td>
    <td class="tg-ln3k"><ul><li>55 Lateral lunges</li><li>85 scissors</li><li>32 Fire hydrants</li></ul></td>
    <td class="tg-c0hr">DAY 25</td>
    <td class="tg-ln3k"><ul><li>90 Lateral lunges</li><li>125 scissors</li><li>50 Fire hydrants</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 6</td>
    <td class="tg-ln3k"><ul><li>20 Lateral lunges</li><li>40 scissors</li><li>15 Fire hydrants</li></ul></td>
    <td class="tg-keh7">DAY 16</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 26</td>
    <td class="tg-ln3k"><ul><li>95 Lateral lunges</li><li>130 scissors</li><li>52 Fire hydrants</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 7</td>
    <td class="tg-ln3k"><ul><li>25 Lateral lunges</li><li>50 scissors</li><li>18 Fire hydrants</li></ul></td>
    <td class="tg-c0hr">DAY 17</td>
    <td class="tg-ln3k"><ul><li>60 Lateral lunges</li><li>90 scissors</li><li>35 Fire hydrants</li></ul></td>
    <td class="tg-c0hr">DAY 27</td>
    <td class="tg-ln3k"><ul><li>100 Lateral lunges</li><li>135 scissors</li><li>55 Fire hydrants</li></ul></td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 8</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 18</td>
    <td class="tg-ln3k"><ul><li>65 Lateral lunges</li><li>100 scissors</li><li>38 Fire hydrants</li></ul></td>
    <td class="tg-keh7">DAY 28</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 9</td>
    <td class="tg-ln3k"><ul><li>30 Lateral lunges</li><li>55 scissors</li><li>20 Fire hydrants</li></ul></td>
    <td class="tg-c0hr">DAY 19</td>
    <td class="tg-ln3k"><ul><li>70 Lateral lunges</li><li>105 scissors</li><li>40 Fire hydrants</li></ul></td>
    <td class="tg-c0hr">DAY 29</td>
    <td class="tg-ln3k"><ul><li>110 Lateral lunges</li><li>140 scissors</li><li>65 Fire hydrants</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 10</td>
    <td class="tg-ln3k"><ul><li>35 Lateral lunges</li><li>60 scissors</li><li>22 Fire hydrants</li></ul></td>
    <td class="tg-keh7">DAY 20</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 30</td>
    <td class="tg-ln3k"><ul><li>120 Lateral lunges</li><li>150 scissors</li><li>75 Fire hydrants</li></ul></td>
  </tr>
</table>
</div>

<br>

<div id="back">
<h2><b>30-day BACK Challenge</b></h2>
<table class="tg">
<tr>
    <td class="tg-c0hr">DAY 1</td>
    <td class="tg-ln3k"><ul><li>5 Reverse flies</li><li>10 Bridge pullovers</li><li>2 Renegade rows</li><li>10s Superman</li></ul></td>
    <td class="tg-c0hr">DAY 11</td>
    <td class="tg-ln3k"><ul><li>35 Reverse flies</li><li>40 Bridge pullovers</li><li>25 Renegade rows</li><li>60s Superman</li></ul></td>
    <td class="tg-c0hr">DAY 21</td>
    <td class="tg-ln3k"><ul><li>80 Reverse flies</li><li>80 Bridge pullovers</li><li>60 Renegade rows</li><li>120s Superman</li></ul></td>
  </tr>
  <tr>
	<td class="tg-c0hr">DAY 2</td>
    <td class="tg-ln3k"><ul><li>8 Reverse flies</li><li>15 Bridge pullovers</li><li>4 Renegade rows</li><li>15s Superman</li></ul></td>
    <td class="tg-keh7">DAY 12</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 22</td>
    <td class="tg-ln3k"><ul><li>85 Reverse flies</li><li>85 Bridge pullovers</li><li>65 Renegade rows</li><li>120s Superman</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 3</td>
    <td class="tg-ln3k"><ul><li>10 Reverse flies</li><li>20 Bridge pullovers</li><li>8 Renegade rows</li><li>20s Superman</li></ul></td>
    <td class="tg-c0hr">DAY 13</td>
    <td class="tg-ln3k"><ul><li>45 Reverse flies</li><li>45 Bridge pullovers</li><li>30 Renegade rows</li><li>70s Superman</li></ul></td>
    <td class="tg-c0hr">DAY 23</td>
    <td class="tg-ln3k"><ul><li>90 Reverse flies</li><li>90 Bridge pullovers</li><li>70 Renegade rows</li><li>120s Superman</li></ul></td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 4</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 14</td>
    <td class="tg-ln3k"><ul><li>50 Reverse flies</li><li>50 Bridge pullovers</li><li>35 Renegade rows</li><li>80s Superman</li></ul></td>
    <td class="tg-keh7">DAY 24</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 5</td>
    <td class="tg-ln3k"><ul><li>12 Reverse flies</li><li>25 Bridge pullovers</li><li>12 Renegade rows</li><li>25s Superman</li></ul></td>
    <td class="tg-c0hr">DAY 15</td>
    <td class="tg-ln3k"><ul><li>55 Reverse flies</li><li>55 Bridge pullovers</li><li>40 Renegade rows</li><li>90s Superman</li></ul></td>
    <td class="tg-c0hr">DAY 25</td>
    <td class="tg-ln3k"><ul><li>95 Reverse flies</li><li>95 Bridge pullovers</li><li>75 Renegade rows</li><li>120s Superman</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 6</td>
    <td class="tg-ln3k"><ul><li>15 Reverse flies</li><li>28 Bridge pullovers</li><li>14 Renegade rows</li><li>30s Superman</li></ul></td>
    <td class="tg-keh7">DAY 16</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 26</td>
    <td class="tg-ln3k"><ul><li>100 Reverse flies</li><li>100 Bridge pullovers</li><li>80 Renegade rows</li><li>120s Superman</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 7</td>
    <td class="tg-ln3k"><ul><li>18 Reverse flies</li><li>30 Bridge pullovers</li><li>15 Renegade rows</li><li>40s Superman</li></ul></td>
    <td class="tg-c0hr">DAY 17</td>
    <td class="tg-ln3k"><ul><li>60 Reverse flies</li><li>60 Bridge pullovers</li><li>45 Renegade rows</li><li>100s Superman</li></ul></td>
    <td class="tg-c0hr">DAY 27</td>
    <td class="tg-ln3k"><ul><li>105 Reverse flies</li><li>105 Bridge pullovers</li><li>85 Renegade rows</li><li>120s Superman</li></ul></td>
  </tr>
  <tr>
    <td class="tg-keh7">DAY 8</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 18</td>
    <td class="tg-ln3k"><ul><li>65 Reverse flies</li><li>65 Bridge pullovers</li><li>50 Renegade rows</li><li>110s Superman</li></ul></td>
    <td class="tg-keh7">DAY 28</td>
    <td class="tg-keh7">REST DAY</td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 9</td>
    <td class="tg-ln3k"><ul><li>25 Reverse flies</li><li>32 Bridge pullovers</li><li>18 Renegade rows</li><li>45s Superman</li></ul></td>
    <td class="tg-c0hr">DAY 19</td>
    <td class="tg-ln3k"><ul><li>70 Reverse flies</li><li>70 Bridge pullovers</li><li>55 Renegade rows</li><li>115s Superman</li></ul></td>
    <td class="tg-c0hr">DAY 29</td>
    <td class="tg-ln3k"><ul><li>115 Reverse flies</li><li>115 Bridge pullovers</li><li>90 Renegade rows</li><li>150s Superman</li></ul></td>
  </tr>
  <tr>
    <td class="tg-c0hr">DAY 10</td>
    <td class="tg-ln3k"><ul><li>30 Reverse flies</li><li>35 Bridge pullovers</li><li>20 Renegade rows</li><li>50s Superman</li></ul></td>
    <td class="tg-keh7">DAY 20</td>
    <td class="tg-keh7">REST DAY</td>
    <td class="tg-c0hr">DAY 30</td>
    <td class="tg-ln3k"><ul><li>125 Reverse flies</li><li>125 Bridge pullovers</li><li>100 Renegade rows</li><li>180s Superman</li></ul></td>
  </tr>
</table>
</div>

<br>
<br>
<br>
<br>

