
<center><%= link_to 'Back to main page', welcome_index_path %>
<br>
<h1>Listing records</h1>

<%= link_to 'New record', new_record_path %>
<table>
  <tr>
    <th>Date</th>
    <th>Workouts</th>
  </tr>
 
  <% @records.each do |record| %>
    <tr>
      <td><%= record.date %></td>
      <td><%= record.workouts %></td>
      <td><%= link_to 'Show', record_path(record) %></td>
      <td><%= link_to 'Edit', edit_record_path(record) %></td>
       <td><%= link_to 'Destroy', record_path(record),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

</center>